export(ee.glm)
export(ee.gee)
export(lambda.find.glm)
export(lambda.find.gee)
export(ELCIC.glm)
export(ELCIC.gee)
export(glm.generator)
export(gee.generator)
export(ELCIC.gee.procedure)
export(ELCIC.glm.procedure)
export(QIC.procedure)
import(MASS)
import(mvtnorm)
import(PoisNor)
import(bindata)
import(geepack)
importFrom("stats", "glm", "rbinom", "rnbinom", "rnorm", "rpois")
